*{
    box-sizing: border-box;
}
html, body{
    font-size: 62.5%;
    height: 100%;
    color: white;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    background-image: url(/images/da.png);
}

:root{
    --ft-900: 36rem; /*28x*/
    --ft-600: 9rem;  /*12x */
    --ft-500: 6rem; /*8x*/
    --ft-400: 4.5rem; /*6x*/
    --ft-300: 3rem; /*4x*/
    --ft-200: 1.5rem; /*2x*/
    --ft-100: 0.75rem; /*1x*/
}

@font-face {
  font-family: "PP";
  src: url("../fonts/PPRadioGrotesk-Variable.ttf") format("truetype");
  font-style: Light;
  font-weight: Light;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DINPro-CondensedBold.ttf") format("truetype");
    font-style: Light;
    font-weight: Light;
  }
/*header start*/

:root{
    font-family: 'PP';}

.header{
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-image: url(/images/da.png);
 background-size: cover;
 background-position: center;
 background-image: url(/images/s.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.banner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 var(--ft-400);
    
}
.letter{
    font-family: 'DIN';
    font-size: var(--ft-900);

}
.descriptor{
    display: flex;  
    justify-content:end ;
    align-self: stretch;
    font-family: 'PP';
    font-size: var(--ft-300);
    text-align: right;
    padding: var(--ft-400);
}
/*header end*/

/*section start*/
.about-event{
    display: flex;
    width: 100vw;
    justify-content: stretch;
    flex-direction: row;
    font-family: 'PP';
    height: 100vh;
    padding: var(--ft-400);
}

.about-event-content{
    display: flex;
    width: 100%;
    align-items: center;
}

/*RIGHT BLOCK*/
.right-block{
    display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
flex: 1 0 0;
align-self: stretch;
}

.upper-right-block{
    display: flex;
    align-items: flex-end;
    align-self: stretch;
}


.side-title{
    display: flex;
    flex-direction: column;
    justify-content: end;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    font-size: var(--ft-200);
    font-weight: 900;
    padding: var(--ft-100);
    color: black;
    background-color:white;
    align-items: flex-start;
    height: auto;
}
/*center*/
.center{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1 0 0;
}
.logo{
    display: inline-block;
    padding: var(--ft-100);
    font-family: 'PP';
    font-size: var(--ft-200);
    padding: var(--ft-100);
    background-color: white;
    color: black;
    writing-mode: vertical-rl; /*anim*/
    text-orientation: upright;
    font-weight: 700;
}

.center-content{
    display: flex;
    padding: var(--ft-100);
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    background-color: white;
}
/*CODE*/
.code{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    
    
}
.line-1{
    font-size: var(--ft-200);
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    color: black;
    
}
.line-2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    color: black;
    font-size: var(--ft-400);
    text-align: justify;
}

.title{
    text-align: right;
    font-size: var(--ft-600);
    color: black;
}

/*TICKETS*/
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: var(--ft-300);
    background-color: white;
    font-weight: 400;
    color: black;
    padding: var(--ft-100);
    }
/**/



/**/
/*BERLIN*/
.left-block{
    display: inline-block;
    font-size: var(--ft-200);
    font-weight: 900;
    background-color: white;
    color: black;
    height: max-content;
    padding: var(--ft-100);
}
/*section end*/ 

/*galery start*/
.galery{
height: 100vh;
display: flex;
padding: var(--ft-400);
gap: var(--ft-300);
}
.navbar-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.number{
    font-size: var(--ft-400);
    font-family: 'PP';
    font-variation-settings: 'ital' 900;
}

.marked{
    writing-mode: vertical-rl;
    text-orientation: mixed; 
    font-size: var(--ft-300);
    font-family: 'PP';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}
.marked mark{
    color: black;
    background-color: rgb(165, 254, 4);
}

.container{
    display: flex;
    align-items: flex-start;
    gap: var(--ft-100);
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
}
.card{
    min-width: var(--ft-900);
    min-height: var(--ft-600);
    flex: 1 0 0;
    align-self: stretch;
    background-color: white; /*delete*/
}

/*card items start*/
.card-1{
    background-image:url(/images/school.jpeg);
    background-size: 25%;
    background-color: rgb(255, 10, 84);
    transition-duration: 1s;
}
.card-1:hover{
    transform: rotateX(120deg) rotateZ(30deg) translate(50%,50%);
}

.card-2{
    background-image:url(/images/);
    background-size: cover;
    background-color: rgb(255, 10, 84);
    transition-duration: 1s;
    background-image: url(/images/image\ 171.png);
}
.card-2:hover{
    transform: rotateX(120deg) rotateZ(30deg) translate(50%,50%);
}


.card-4{
    background-image:url(/images/nonphysical2.png);
    background-size: cover;
    transition-duration: 0.2s;
}
.card-4:hover{
    background-image:url(/images/nonphysical2.png);
    background-size: cover;
    transform: scale(2);
}


.card-5{
    background-image:url(/images/venus.png);
    background-size: cover;
    background-color: rgb(255, 10, 84);
    transition-duration: 1s;
}
.card-5:hover{
    transform: rotateX(120deg) rotateZ(30deg) translate(50%,50%);
}

.card-3{
    background-image:url(/images/marshal.png);
    background-size: 100%;
    background-color: rgb(255, 10, 84);
    transition-duration: 1s;
}
.card-3:hover{
    transform: rotateX(120deg) rotateZ(30deg) translate(50%,50%);
    background-size: 25%;
}

/*card items end*/
.card-6{
    background-image:url(/images/array\ 2.png);
    background-size: cover;
    background-color: rgb(255, 10, 84);
    transition-duration: 1s;
}
.card-6:hover{
    transform: rotateY(120deg) rotateZ(45deg) translate(50%,50%) scale(2);
}


.dash{
    display: flex;
    flex: 1 0 0;
    height: var(--ft-100);
    background-color: white;
}

.date{
    display: flex;
    padding-left: var(--ft-400);
    padding-right: var(--ft-400);
    padding-buttom: var(--ft-400);
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    font-size: var(--ft-600);
    font-family: 'DIN';
    gap:var(--ft-100);
}





/*galery endd*/

/*location start*/
.location{
    display: flex;
    padding: var(--ft-400);
    gap: var(--ft-400);
    font-family: 'PP';
}
.image-block{
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}
.upper-image{
    display: flex;
    align-items: center;
    justify-self: center;
}
.lower-ilage{
    display: flex;
}

.item{
    flex: 1 0 0;
    min-height: var(--ft-900);
}
/*Upper*/
.item-1{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: var(--ft-100);
}
.item-2{
    flex: 4 0 0;
    min-width: var(900);
    background-image: url(/images/ksu.png);
    background-size: cover;
    background-position: center;
    transform: skew(30deg);
    transition: 50ms ease-in-out;
}
.item-2:hover{
    transform: skew(0deg);
}
.item-3{
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: var(--ft-100);
}
.marked-2{
    font-size: var(--ft-300);
    color: black;
    background-color: white;
}
.item-4{
    display: flex;
    flex: 2 0 0;
    flex-direction: column;
    font-size:var(--ft-600) ;
    font-weight: 600;
    text-align: right;
    line-height: 90%;
    align-items: end;
    justify-content: center;
    padding: var(--ft-100);
}
.item-5{
    display: flex;
    flex: 2 0 0;
    background-color:wheat ;
    z-index: 7;
    position: relative;
    transform: translate(0 var(--ft-300));
    background-image: url(/images/eyes.png);
    background-size: cover;
    background-position: center;
    min-width: var(--ft-900);
}
.item-6{
    display: flex;
    flex: 0.5 0 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: var(--ft-200);
}
/*location end*/

/*music start*/
.music{
    display: flex;
    flex-direction: column;
    padding: var(--ft-400);
    height: 100vh;
}
.navbar-2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--ft-400);
    font-family: 'PP';
    font-variation-settings: 'ital' 900;
}

.music-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--ft-600);
    font-family: 'DIN';
}


.music-container{
    display: flex;
    flex: 1 0 0;
    justify-content: center;
    align-items: center;
}
.music-mark{
    writing-mode: vertical-rl;
    text-orientation: mixed; 
    font-size: var(--ft-300);
    font-family: 'PP';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}
.music-marked{
    background-color: rgb(165, 254, 4);
}
.inner-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--ft-200);
    flex: 1 0 0;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(#FF78A1, #FF0A54, #FF0A54, #FF8AAE);
    transition: ease-in-out ;
    transition-duration: 1s;
}
.inner-2{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: var(--ft-200);
    flex: 1 0 0;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(to left,#FF78A1, #FF0A54, #FF0A54, #FF8AAE);
    transition: ease-in-out ;
    transition-duration: 1s;
    transition-delay: 0.2s;
}
.inner-3{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: var(--ft-200);
    flex: 1 0 0;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(#FF78A1, #FF0A54, #FF0A54, #FF8AAE);
    transition: ease-in-out ;
    transition-duration: 1s;
    transition-delay: 0.4s;
}
.inner-4{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: var(--ft-200);
    flex: 1 0 0;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(to left,#FF78A1, #FF0A54, #FF0A54, #FF8AAE);
    transition: ease-in-out ;
    transition-duration: 1s;
    transition-delay: 0.6s;
}
.inner-5{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: var(--ft-200);
    flex: 1 0 0;
    aspect-ratio: 1 / 1;
    background-image: url(/images/andrew.png);
    background-size: cover;
    transition: ease-in-out ;
    transition-duration: 1s;
    transition-delay: 0.8s;
}
.inner-1:hover{
    flex: 1.75 0 0;
    padding: var(--ft-400);
    transform: rotateZ(360deg);
    border-radius;
}
.inner-2:hover{
    flex: 1.75 0 0;
    padding: var(--ft-400);
    transform: rotateZ(360deg);
    border-radius;
}
.inner-3:hover{
    flex: 1.75 0 0;
    padding: var(--ft-400);
    transform: rotateZ(360deg);
    border-radius;
}
.inner-4:hover{
    flex: 1.75 0 0;
    padding: var(--ft-400);
    transform: rotateZ(360deg);
    border-radius;
}

/*music end*/
.name{
    font-family: 'PP';
    display: flex;
    flex: 1 0 0;
    justify-content: center;
    align-items: center;
    font-size: var(--ft-400);
    text-align: center;
    padding: 0 var(--ft-400);
    height: 100vh;
    transition-duration: 1s;
}

.name:hover{
    font-weight: 900;
    font-variation-settings: 'ital' 900;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding: 0 var(400);
  
    font-size: var(--ft-600);
    font-family: 'DIN';
}
/*names*/
